<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Document</title>
  </head>
  <body>
    <header class="header">
      <div class="header_logo">
        <h1 style="color: white">Blog App</h1>
      </div>
      <div class="Enter_Box">
        <h1><%=user.firstname%></h1>
        <a href="/article/"
          ><button id="artcileForm_button">MyArticles</button></a
        >

        <a href="/article/"
          ><button id="artcileForm_button">Article Form</button></a
        >
        <a href="/users/">
          <button id="register_button">Register</button>
        </a>
      </div>
    </header>
    <div class="articles_unique_box">
      <h1>Title : <%=article.title%></h1>
      <p>Author : <%=article.author.firstname%></p>
      <p>Description : <%=article.description%></p>
      <div>
        <label> Likes </label>
        <p class="likes_count">:<%=article.likes%></p>
      </div>
    </div>
    <form action="/article/<%=article.id %>/comment" method="POST">
      <textarea name="content" rows="3" placeholder="Add comments"></textarea>
      <input
        style="display: block; background-color: green; color: white"
        type="submit"
        value="add comment"
      />
    </form>

    <ul>
      <% comments.forEach(function(comment){ %>
      <li class="titles_link"><%=comment.content %></li>
      <a href="/comments/<%=comment.id %>/edit"><button>edit</button></a>
      <a href="/comments/<%=comment.id %>/delete"><button>delete</button></a>
      <% }); %>
    </ul>
  </body>
</html>
